<div id="right-panel" class="right-panel">
      <header id="header" class="header">
         <div class="header-menu">
            <h2 style=" line-height: 50px; margin: auto;">DASHBOARD</h2>
         </div>
      </header>
      <!-- Content -->
      <div class="content">
         <!-- Animated -->
         <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="card">
                     <div class="card-header">
                        <div class="stat-widget-five">
                           <div class="stat-icon dib flat-color-1">
                              <i class="fas fa-heartbeat"></i>
                           </div>
                           <div class="stat-content">
                              <div class="text-left dib">
                                 <div class="stat-text"><span class="">En pleine forme frerot</span></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-12">
                  <div class="card">
                     <a  data-toggle="collapse" href="#collapseTODO" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <div class="card-header" >
                           <div class="stat-widget-five">
                              <div class="stat-icon dib flat-color-3">
                                 <i class="pe-7s-browser"></i>
                              </div>
                              <div class="stat-content">
                                 <div class="text-left dib">
                                    <div class="stat-text"><span class="">TODO</span></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </a>
    
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
       <div class="modal-dialog">
     
    <!-- Modal content-->
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 class="modal-title">{{ todoSelected.description }}</h4>
           </div>
           <div class="modal-body">
             <p>{{ todoSelected.details }}</p>
           </div>
           <div class="modal-footer">
              <p>Le {{ todoSelected.heure.seconds | date}}</p>
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
         </div>
     
       </div>
     </div>
    
    
                     <div   class="collapse card-body" aria-expanded="false" id="collapseTODO">
                      <table class="table">
                         <tbody>
                            <tr *ngFor="let todo of todos">
                               <td>{{ todo.description }}</td>
                               <td><button type="button" (click)="setDetails(todo)" data-toggle="modal" data-target="#myModal" class="btn btn-outline-primary" style="
                                  width: 100%;
                                  ">Detail</button></td>
                            </tr>
                         </tbody>
                      </table>
                   </div>
    
                  </div>
               </div>
               <div class="col-lg-12">
                  <div class="card">
                     <a  data-toggle="collapse" href="#collapseMeteo" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <div class="card-header">
                           <div class="stat-widget-five">
                              <div class="stat-content" style=" width: 100%; text-align: center; margin: 0; ">
                                 <div class="text-left dib">
                                    <div class="stat-text"><span class="">METEO</span></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </a>
                     <div class="collapse card-body" aria-expanded="false" id="collapseMeteo">
                        <div class="wrapper">
                           <div class="widget-container">
                              <div class="bottom-left">
                                 <h1 id="temperature">0</h1>
                                 <h2 id="celsius">°C</h2>
                                 <h2 id="temp-divider">/</h2>
                                 <h2 id="fahrenheit">°F</h2>
                              </div>
                              <div class="bottom-right">
                                 <div class="other-details-key">
                                    <p>Wind Speed <b>{{ meteo.windspeed }} Km/h</b></p>
                                    <p>Humidity <b>0 %</b></p>
                                    <p>Pressure <b>0 hPa</b></p>
                                    <p>Sunrise Time<b>0:00 am</b></p>
                                    <p>Sunset Time<b>0:00 pm</b></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- /Widgets -->
            <!-- Calender Chart Weather  -->
            <!-- /Calender Chart Weather -->
            <!-- Modal - Calendar - Add New Event -->
            <div class="modal fade none-border" id="event-modal">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title"><strong>Add New Event</strong></h4>
                     </div>
                     <div class="modal-body"></div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success save-event waves-effect waves-light">Create event</button>
                        <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- /#event-modal -->
            <!-- Modal - Calendar - Add Category -->
            <div class="modal fade none-border" id="add-category">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title"><strong>Add a category </strong></h4>
                     </div>
                     <div class="modal-body">
                        <form>
                           <div class="row">
                              <div class="col-md-6">
                                 <label class="control-label">Category Name</label>
                                 <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name">
                              </div>
                              <div class="col-md-6">
                                 <label class="control-label">Choose Category Color</label>
                                 <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                    <option value="success">Success</option>
                                    <option value="danger">Danger</option>
                                    <option value="info">Info</option>
                                    <option value="pink">Pink</option>
                                    <option value="primary">Primary</option>
                                    <option value="warning">Warning</option>
                                 </select>
                              </div>
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Save</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- /#add-category -->
         </div>
         <!-- .animated -->
      </div>
      <!-- /.content -->
      <div class="clearfix"></div>
      <!-- Footer -->
      <!-- /.site-footer -->
    </div>