<div class="card">
  <div class="card-header">
    <div class="stat-widget-five">
      <div class="stat-icon dib flat-color-3">
        <i class="pe-7s-browser"></i>
      </div>
      <div class="stat-content">
        <div class="text-left dib">
          <div class="stat-text"><span class="">Todo</span></div>
        </div>
      </div>
    </div>
  </div>



  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Done</th>
          <th scope="col">Heure</th>
          <th scope="col">Desc</th>
          <th scope="col">More</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items | async">
          <th scope="row">
            <input type="checkbox" class="switch-input" [(ngModel)]="item.checked" (change)="itemChecked(item)"></th>
          <td>{{item.heure.toDate() | date: 'medium'}}</td>
          <td>{{item.description}}</td>
          <td><button data-toogle="modal" attr.data-target="#modal{{item.id}}" type="button" class="btn btn-outline-primary"
              style="
                                    width: 100%;
                                    ">Detail</button></td>

          <div class="modal fade" id="modal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{item.description}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {{ item.details }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </tr>

      </tbody>
    </table>
  </div>

</div>
