<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <app-dashboard></app-dashboard>
    <app-jdb></app-jdb>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <app-todo></app-todo>
    <app-expedition></app-expedition>
  </div>
</div>
<router-outlet></router-outlet>
